@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* --- TES POLICES --- */
  --font-display: "Cormorant Garamond", serif;
  --font-sans: "DM Sans", sans-serif;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-12px);
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -200% center;
    }

    100% {
      background-position: 200% center;
    }
  }

  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  --animate-float: float 4s ease-in-out infinite;
  --animate-shimmer: shimmer 3s linear infinite;
  --animate-scroll-left: scroll-left 30s linear infinite;
}

@plugin "daisyui/theme" {
  name: "night";
  prefers-dark: true;

  --color-primary: #c9a84c;
  --color-primary-content: #0d0d1a;
  /* Texte foncé ici aussi */

  --color-secondary: #1e1b4b;
  --color-secondary-content: #e0e7ff;

  --color-accent: #433719;
  --color-accent-content: #c9a84c;

  --color-base-100: #0d0d1a;
  --color-base-200: #12122a;
  --color-base-300: #1a1a35;
  --color-base-content: #e8e8f0;

  --color-info: #60a5fa;
  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-error: #f87171;
}

.reveal-init {
  opacity: 0;
  transform: translateY(24px) scale(0.98);
  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
  transition-delay: var(--reveal-delay, 0ms);
  will-change: opacity, transform;
}

.reveal-show {
  opacity: 1;
  transform: translateY(0) scale(1);
}